FASTGPT_BASE_URL=
FASTGPT_API_PATH=/v1/chat/completions
FASTGPT_RECOMMEND_API_KEY=
FASTGPT_RECOMMEND_CHAT_ID=fastgpt-recommend
FASTGPT_TRANSLATOR_API_KEY=
FASTGPT_TRANSLATOR_CHAT_ID=translator
FASTGPT_RESUME_API_KEY=
FASTGPT_RESUME_CHAT_ID=resume_preparation
FASTGPT_RECEIPT_API_KEY=
FASTGPT_RECEIPT_CHAT_ID=receipt-ocr
FASTGPT_TOOLS_RECOMMEND_API_KEY=
